* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    height: 100vh;
    position: relative;
}

.bottom {
    position: absolute;
    inset:  auto 0 0;
    bottom: 0;
    padding: 0.5rem;
    background-color: firebrick;
}

.main {
    padding: 1.5rem;
}