*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: fantasy;
}

body{
  display: grid;
  place-items: center;
  min-height: 100vh;
  grid-template-columns: repeat(3, 1fr);
}

.box{
  position: relative;
  height: 300px;
  width: 300px;
  margin: 40px;
  display: grid;
  place-items: center;
  text-align: center;
}

.box::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  filter: blur(25px);
  transform: translateY(30px) scale(0.9);
}

.box:nth-child(1), .box:nth-child(1)::before {
  background: linear-gradient(135deg, #f403d1, #64b5f6);
}

.box:nth-child(2), .box:nth-child(2)::before {
  background: linear-gradient(135deg, #ffec61, #f321d7);
}

.box:nth-child(3), .box:nth-child(3)::before {
  background: linear-gradient(135deg, #24ff72, #2196f3);
}

.box h1{
  position: relative;
  z-index: 1;
  font-size: 28px;
  color: royalblue;
}

.box p {
  color: royalblue;
  font-size: 50%;
  z-index: 0;
  padding: 20px;
  transition: 0.5s all;
}

.box:hover p{
  color: #fff;
  font-size: 16px;
  z-index: 1;
} 

.box:hover h1 {
  color: #fff;

}