body {
  display: grid;
  place-items: center;
  color: white;
  background: orange;
}

body {
  color: blue;
}

.specificity {
  color: black;
}

p {
  color: white !important;
}

div p {
 color: yellow;
}

p {
  color: green;
}

div div div div div div div div div h1 {
  color: brown;
}

.inner {
  color: cyan;
}

.source {
  color: yellowgreen;
}

#source {
  color: steelblue ;
}