* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.primary-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: coral;
    padding: 20px;
}

.primary-header > * {
    outline: 2px solid limegreen;
}

ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

.site-nav {
    flex-grow: 1;
}

.push-right {
    /* justify-self: flex-end; */
    margin-left: auto;
    /* margin-right: auto/; */
}

