*{
    margin: 0;
    padding:0
}

.body{
    background: rgb(41, 69, 194);
    height: 100vh;
    width: 100%;
}


.container{
    padding:4rem;
}

p::first-line{
    color:red;
    font-variant: small-caps;
}

h2::first-letter{
    color: lawngreen;
}

h2::before{
    content: "❤️️ "
}

p::after{
    content: " 🌸🌸🌸🌸🌸🌸🌸🌸🌸🌸🌸 "
}

::selection{
    color: red;
    background: yellow;
}