* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flex-container {
  width: 100%;
  display: flex;
  background: #fff;
}

.box {
  height: 200px;
  min-width: 200px;
  /* flex-grow: 1; */
}

.one{
  background: red;
  flex-grow: 1;
}

.two {
  background: green;
  flex-grow: 2;
}

.three {
  background: blue;
  flex-grow: 3;
}
