* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #551948;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}

h1 {
    margin: 30px ;
    text-shadow: 2px 2px 10px #000;
}

.box {
    background-color: var(--clr);
    height: 200px;
    width: 400px;
    display: grid;
    place-items: center;
    margin: 10px;
    border-radius: 20px;
    box-shadow: 2px 4px 5px rgba(0,0,0,0.3);
}