.blue {
  --clr: #4285f4;
}

.red {
  --clr: #db4437;
}

.green {
  --clr: #0f9d58;
}

.yellow {
  --clr: #f4b400;
}

.sky {
  --clr: rgb(43, 199, 199);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #551948;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  overflow-x: hidden;
}

h1 {
  margin: 30px;
  text-shadow: 2px 2px 10px #000;
  transform: rotate(10deg);
}

h1:hover {
  transform: rotate(0);
}

.box {
  background-color: var(--clr);
  height: 200px;
  width: 100vw;
  display: grid;
  place-items: center;
  margin: 10px;
  border-radius: 20px;
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.3);
  transform: translateX(400%);
  transition: transform 0.4s ease;
}

.box:nth-of-type(even) {
    transform: translateX(-400%);
}

.box.show {
  transform: translateX(0);
}
