* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 2rem;
  border: 3px solid red;
  /* background-color: pink; */
  height: 400px;
}

.example {
  background: #234;
  color: white;
  /* height: 50%; */
  /* height: auto; */
  min-height: 500px;
}