* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  color-scheme: dark;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  font-size: 1.2rem;
  margin: 0;
  line-height: 1.6;
  color: var(--clr-neutral-100);
  background-color: var(--clr-neutral-900);
}

main,
section {
  padding-block: 3rem;
}

img {
  max-width: 100%;
  height: auto;
}

.wrapper {
  width: min(100% - 4rem, 70rem);
  margin-inline: auto;
}

.even-columns {
  display: grid;
  gap: 3rem;
}

@media (min-width: 50rem) {
  .even-columns {
    grid-auto-flow: column;
    grid-auto-columns: 1;
  }
}

div {
  padding: 1rem;
}

p {
  padding: 2rem 0.5rem;
}

.narrow {
  width: 20vw;
}

.medium {
  width: 50vw;
}

.wide {
  width: 80vw;
}
