
@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@400;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500&display=swap');

 :root {
   --primary-bg-color: rgb(13, 17, 23);
   --primary-color: rgb(201, 209, 217);
   --gray-shadow: rgba(27, 31, 35, 0.04);
 }
 
 * {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Merienda', cursive;
   font-family: 'Roboto', sans-serif;
 }


html {
  font-family: sans-serif;
  scroll-snap-type: mandatory;
  scroll-snap-points-y: repeat(100vh);
  scroll-snap-type: y mandatory;
}


 /*  Common items */
 body {
  background-color: var(--primary-bg-color);
  width: 100vw;
  overflow-x: hidden;
 }

 .container {
   width: 100%;
   min-height: 100vh;
   padding: 2rem 10rem;
   scroll-snap-align: start;
   color: var(--primary-color);
   box-shadow: 0px 0px 100px 50px black inset;
   position: relative;
 }

 /*  landing section */

 .landing {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   place-items: center;
   flex-direction: row;
   position: relative;
   z-index: 1;
   overflow: hidden;
 }

 .overlay {
   position: absolute;
   top: 0;
   left: -20vw;
   right: -20vw;
   bottom: 0;
   z-index: 2;
   background-color: rgba(170, 46, 207, 0.2);
   transform: rotate(45deg);
 }

 .intro {
   display: flex;
   flex-direction: column;
   justify-content: center;
   height: 80vh;
   padding-right: 4rem;
 }

 .intro h1 {
   padding-bottom: 1rem;
 }

 .intro h4 {
   padding-bottom: 2rem;
 }

 .image-container {
  z-index: 3;
  background-image: url('./assets//me.jpeg');
  height: 80vh;
  width: 100%;
  box-shadow: 0px 0px 150px 250px var(--primary-bg-color) inset;
  background-position: bottom;
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
 }

 /* Skills section */

 .top-skills {
   display:grid;
   place-items: center;
   min-height: 100vh;
   position: relative;
 }

 .top-skills-overlay {
  position: absolute;
  top: 0;
  left: -40vw;
  right: -40vw;
  bottom: 0;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.5);
  transition: all 0.5s ease-in-out;
  transform: rotate(-45deg);
}

.top-skills-overlay:hover {
  background-color: rgba(0,0,0,0.2);
}
 
 .cards-wrapper {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-gap: 8rem;
   height: auto;
 }

 .card {
  background: rgba(170, 46, 207, 0.2);
  box-shadow: 0 0 10px 10px rgba(170, 46, 207, 0.2);
  min-height: 50vh;
  transition: all 0.5s ease-in-out;
  padding: 2rem;
  border-radius: 8px;
  font-size: 14px;
  transition-property: font-size;
  transition-duration: 4s;
  transition-delay: 2s;
  display: grid;
  place-items: center;
 }

 /* Feature section */
 .features {
   display: flex;
   flex-direction: row;
   align-items: center;
   position: relative;
   height: 100vh;
   overflow: hidden;
 }

 .features .card {
   width: 40vw;
   position: relative;
   opacity: 0.2;
 }

 .features:hover .features,  .features:hover .card {
   color: seagreen;
   transform: scale(1.1);
 }

 .features:nth-child(even) {
   flex-direction: row-reverse;
 }

 .features:nth-child(even) .description-wrapper{
  text-align: right;
  right: 10%;
  position: absolute;
}

.description-wrapper {
  font-size: 1rem;
  font-weight: bold;
  /* word-spacing: 0.5rem; */
  letter-spacing: 0.1rem;
  line-height: 1.6em;
  display: flex;
  flex-direction: column;
  height: auto;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10%;
 }

 .features:nth-child(1) .card {
background-color: blue;
box-shadow: 0 0 10px 10px blue;
 }

 .features:nth-child(2) .card {
background-color: greenyellow;
box-shadow: 0 0 10px 10px greenyellow;
}

.features:nth-child(3) .card {
  background-color: purple;
  box-shadow: 0 0 10px 10px purple;

}

.features:nth-child(4) .card {
  background-color: yellow;
  box-shadow: 0 0 10px 10px yellow;

}

.view {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;

  /* let the browser know we plan to animate
     each view in and out */
  will-change: transform;
  background: purple;
  /* height: 300px;
  width: 300px; */
}


.view {
  transition: transform 0.6s cubic-bezier(0.465, 0.183, 0.153, 0.946);
}

