 :root {
   --primary-bg-color: rgb(13, 17, 23);
   --primary-color: rgb(201, 209, 217);
   --gray-shadow: rgba(27, 31, 35, 0.04);
 }
 
 * {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Times New Roman', Times, serif;
 }

 /*  Common items */
 body {
  background-color: var(--primary-bg-color);
 }

 .container {
   width: 100%;
   min-height: 100vh;
   padding: 2rem 10rem;
   color: var(--primary-color);
   box-shadow: 0px 0px 100px 50px black inset;
 }

 /*  landing section */

 .landing {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   place-items: center;
   flex-direction: row;
 }

 .intro {
   display: flex;
   flex-direction: column;
   justify-content: center;
   height: 80vh;
   padding-right: 4rem;
 }

 .intro h1 {
   padding-bottom: 1rem;
 }

 .intro h4 {
   padding-bottom: 2rem;
 }

 .image-container {
  z-index: 3;
  background-image: url('./assets//me.jpeg');
  height: 70vh;
  width: 100%;
  box-shadow: 0px 0px 120px 140px var(--primary-bg-color) inset;
  background-position: bottom;
 }

 /* Skills section */

 .top-skills {
   display:grid;
   place-items: center;
   min-height: 100vh;
 }
 
 .cards-wrapper {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   grid-gap: 4rem;
   height: auto;
 }

 .card {
  background: rgba(255, 165, 0, 0.8);
  box-shadow: 0 0 10px 10px rgba(255, 165, 0, 0.8);
  min-height: 50vh;
  transition: all 0.5s ease-in-out;
  padding: 2rem;
  border-radius: 8px;
 }

 .card:hover {
   box-shadow: none;
   box-shadow: 0 0 10px 10px transparent;
   transform: scale(1.1);
   background: rgba(255, 165, 0, 0.8);
 }

 /* Feature section */

 .features {
   display: flex;
   flex-direction: row;
 align-items: center;
   position: relative;
   margin: 4rem 0;
   min-height: 80vh;
 }

 .features .card {
   width: 40vw;
   position: relative;
   opacity: 0.2;
 }

 .features:hover .description-wrapper{
   color: seagreen;
   transform: scale(1.1);
 }

 .features:nth-child(even) {
   flex-direction: row-reverse;
 }

 .features:nth-child(even) .description-wrapper{
  text-align: right;
  right: 10%;
  position: absolute;
}

.description-wrapper {
  font-size: 0.2;
  font-weight: bold;
  line-height: 1.6em;
   display: flex;
   flex-direction: column;
   height: auto;
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
   left: 10%;
 }

 .features:nth-child(1) .card {
background-color: blue;
box-shadow: 0 0 10px 10px blue;
 }

 .features:nth-child(2) .card {
background-color: greenyellow;
box-shadow: 0 0 10px 10px greenyellow;
}

.features:nth-child(3) .card {
  background-color: purple;
  box-shadow: 0 0 10px 10px purple;

}

.features:nth-child(4) .card {
  background-color: yellow;
  box-shadow: 0 0 10px 10px yellow;

}