*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  display: grid;
  place-items: center;
}

.container{
  display: flex;
  width: 450px;
  justify-content: space-between;
}

.card{
  width: 200px;
  height: 200px;
  background: green;
  text-align: center;
  display: grid;
  place-items: center;
}
