* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  min-height: 100vh ;
  overflow-x: hidden;
}

img {
  width: 100%;
  mask-image: url('PngItem_106495.png');
  mask-repeat: no-repeat;
  mask-size: contain;
  background-repeat: no-repeat;
}