* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: white;
  min-height: 100vh;
  display: grid;
  place-items: center;
}

.container {
  padding: 4rem;
  flex-direction: column;
  background-color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: center;
  /* width: 70%;
  max-width: 700px; */
  /* width: min(600px, 70%); Equals to above two lines */
  width: max(500, 70%);
}