body {
  height:100vh;
  width:100vw;
  overflow: hidden;
  display: grid;
  place-items: center;
  position: relative;
}

body::before {
  content: "";
  background: url(hgxjgds.jpeg);
  opacity: 0.8;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  position: absolute;
  top: 0;
  left:0;
  right:0;
  bottom: 0;
}

div {
  position: relative;
  height: 300px;
  width: 600px;
  text-align: center;
  border: 4px solid orangered;
  display: grid;
  background-color: orangered;
  place-items: center;
}

h1 {
  color :white;
}