* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.container {
  display: grid;
  place-items: center;
  /* min-height: 100vh; */
  width: 100%;
  background-color: #11112d;
  color: white;
  overflow: hidden;
}

.box {
  background: rgba(34, 43,67, 1);
  padding: 3rem;
  height: 30rem;
  width: 30rem;
  clip-path: polygon(50% 0%, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%);
  display: flex;
  justify-content: center;
  align-items: center;
  animation: rotating 2s linear infinite;
}


p {
  animation: rotatingText 2s linear infinite;
}


@keyframes rotatingText {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.dots {
  border-radius: 50%;
  background: orange;
  padding: 4rem;
  position: absolute;
  animation: blink 4s linear infinite;
}

@keyframes blink {
  0% {
    padding: 0;
  }
  10% {
    padding: 0.1;
  }
  20% {
    padding: 0.2;
  }
  30% {
    padding: 0.3;
  }
  40% {
    padding: 0.4;
  }
  50% {
    padding: 0.5;
  }
  60% {
    padding: 0.6;
  }
  70% {
    padding: 0.7;
  }
  80% {
    padding: 0.8;
  }
  90% {
    padding: 0.9;
  }
  100% {
    padding: 1;
  }
}