* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.first-example {
  display: block;
}

.example {
  padding: 2rem;
  width: 50%;
  /* margin: 1em auto; */
  background: teal;
}

/* + combinator helps to get simbling components */
/*
.example + .example {
  background-color: red;
}

div + .example {
  background-color: red;
} 

.three + .example {
    background: red;
} */

* + * {
  margin: 1em 0 0;
  /* avoid styling first component in group- becouse it has no sibling before it */
}